{
  "mcpServers": {
    "n8n-mcp": {
      "command": "npx",
      "args": ["n8n-mcp"],
      "env": {
        "N8N_API_URL": "https://TU_URL_DE_N8N",
        "N8N_API_KEY": "TU_API_KEY_DE_N8N"
      }
    }
  }
}
